{{ define "fusion-card" }}
{{ $fusion := getRootFusion .Fusions .FusionData.FusionSlug }}
<div class="col-xs-12 col-md-6 col-lg-4 centered">
    {{ $champion := index .Champions $fusion.ChampionSlug }}
    <a href="/fusions/{{ $fusion.Slug }}">
        <img src="{{ $champion.Slug | championImageFallback }}" style="max-width: 150px; max-height:150px"><br>
    </a>
    {{ if eq .FusionData.FusionType "fused" }}
    {{ if $fusion.Active }}
    This champion can be fused as part of the {{ $fusion.Name }} fusion!
    {{ else }}
    This champion used to be fused as part of the {{ $fusion.Name }} fusion.
    {{ end }}
    {{ else if eq .FusionData.FusionType "ingredient" }}
    {{ if $fusion.Active }}
    This champion is an <a>ingredient to fuse {{ $champion.Name }}!
        {{ else }}
        This champion used to be an ingredient to fuse {{ $champion.Name }}.
        {{ end }}
        {{ end }}
</div>
{{ end }}