<article class="champion-view" style="padding-top: 70px;">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn" href="/champions">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ template "champion-card" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ template "lore" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3733389122742903"
                data-ad-slot="4370498462" data-ad-format="auto" data-full-width-responsive="true"></ins>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ template "skills" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3733389122742903"
                data-ad-slot="4370498462" data-ad-format="auto" data-full-width-responsive="true"></ins>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ template "champion-ratings" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ template "synergy" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3733389122742903"
                data-ad-slot="4370498462" data-ad-format="auto" data-full-width-responsive="true"></ins>
        </div>
    </div>
</article>
{{ range $data := .Champion.SEO.StructuredData }}
<script type="application/ld+json">
{{ $data }}
</script>
{{ end }}