{{ define "reviews" }}
{{ if .Champion.Reviews }}
<div class="row">
    <div class="col-xs-12">
        <h2>In-Game Reviews ({{ .Champion.Reviews.NumberOfReviews }})</h2>
    </div>
    <div class="col-xs-12">
        <table class="table-hover table">
            <thead>
                <tr class="row-header">
                    <th>Location</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 65px;">
                    <td>Campaign</td>
                    <td>
                        {{ .Champion.Reviews.Campaign | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Arena</td>
                    <td>
                        Offensive: {{ .Champion.Reviews.ArenaOff | ReviewGrade }}<br>
                        Defensive: {{ .Champion.Reviews.ArenaDef | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Clan boss</td>
                    <td>
                        {{ .Champion.Reviews.ClanBoss | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Ice Golem’s Peak</td>
                    <td>
                        {{ .Champion.Reviews.IceGuardian | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Dragon’s Lair</td>
                    <td>
                        {{ .Champion.Reviews.Dragon | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Spider’s Den</td>
                    <td>
                        {{ .Champion.Reviews.Spider | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Fire Knight’s Castle</td>
                    <td>
                        {{ .Champion.Reviews.FireKnight | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Minotaur’s Labyrinth</td>
                    <td>
                        {{ .Champion.Reviews.Minotaur | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Force Keep</td>
                    <td>
                        {{ .Champion.Reviews.ForceDungeon | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Magic Keep</td>
                    <td>
                        {{ .Champion.Reviews.MagicDungeon | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Spirit Keep</td>
                    <td>
                        {{ .Champion.Reviews.SpiritDungeon | ReviewGrade }}
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td>Void Keep</td>
                    <td>
                        {{ .Champion.Reviews.VoidDungeon | ReviewGrade }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{ end }}
{{ end }}